<ion-content class="ion-padding reset-page" [fullscreen]="true">
  <div class="reset-container">
    <div class="box">
      <div class="logo-container ion-text-center">
        <img src="assets/logo.png" alt="Logo Sunu Tontine" class="logo-image" />
        <h1 class="text-green">Réinitialisation</h1>
        <p class="subtitle">Entrez vos informations</p>
      </div>

      <ion-list lines="none" class="form-fields">
        <ion-item class="custom-item">
          <ion-input
            label="N° Identité"
            label-placement="floating"
            type="text"
            [(ngModel)]="cni"
            required
          ></ion-input>
        </ion-item>

        <ion-item class="custom-item">
          <ion-input
            label="Adresse Email"
            label-placement="floating"
            type="email"
            [(ngModel)]="email"
            required
          ></ion-input>
        </ion-item>

        <ion-item class="custom-item">
          <ion-input
            label="Nouveau mot de passe"
            label-placement="floating"
            type="password"
            [(ngModel)]="newPassword"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" color="success" class="ion-margin-top" (click)="resetPassword()">
        Valider
      </ion-button>
    </div>
  </div>
</ion-content>
